body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
ul {
  margin: 0;
  padding: 0;
}

input {
  display: block;
  border: none;
  border-radius: 5px;
  width: 500px;
  height: 50px;
  padding: 5px;
  outline: none;
}

a {
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
  color: #ffffff;
}
